data/
.idea/
docs/
ruaridhs_work/
.ipynb_checkpoints
exploration_files
*.html
*.xlsx
*.pyc
presentations/
written_work/
.DS_Store
pymc3_error.ipynb
samples/
.Rproj.user
ACE-new-2-1-1024x540-1.jpg
analysis_ideas.docx
cooper_project_summary.docx
cooper_project_summary_SR.docx
meeting_2021_25_05.txt
meeting_2021_29_04.txt
